<div class="student--list--wrapper">
  <dx-button stylingMode="contained" type="Default" text="+ Add Student" [width]="150" (onClick)="addStudent()">
  </dx-button>
  <dx-data-grid #studentsGrid id="studentsGrid" [dataSource]="studentDataSource" [showBorders]="true"
    [dataSource]="studentDataSource" [allowColumnReordering]="true" [rowAlternationEnabled]="true">
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]"></dxo-pager>
    <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>

    <dxo-editing mode="form" [allowUpdating]="true">
    </dxo-editing>
    <dxi-column dataField="ImageUrl" caption="Image" [allowFiltering]="false" [allowSorting]="false"
      cellTemplate="cellTemplate"></dxi-column>
    <dxi-column dataField="Name"></dxi-column>
    <dxi-column dataField="Country"></dxi-column>
    <dxi-column dataField="City"></dxi-column>
    <dxi-column dataField="Gender"></dxi-column>
    <dxi-column dataField="BirthDate" dataType="date" format="dd/MM/yyyy"></dxi-column>
    <dxi-column dataField="Id" cellTemplate="Actions" caption="Actions"></dxi-column>
    <div *dxTemplate="let image of 'cellTemplate'">
      <div class="student--list--avatar--container">
        <div *ngIf="image.value !== null" class="student--list--avatar"
          [ngStyle]="{'background-image': 'url(' + image.value + ')'}">
        </div>
        <div *ngIf="image.value == null" class="student--list--avatar">
        </div>
      </div>
    </div>
    <div *dxTemplate="let data of 'Actions'" class="student--list--buttons--wrapper">
      <div class="buttons">
        <dx-button stylingMode="contained" type="success" text="Edit" (onClick)="editStudent(data.value)">
        </dx-button>
      </div>
      <div class="buttons">
        <dx-button stylingMode="contained" type="danger" text="Delete" (onClick)="deleteStudent(data.value)">
        </dx-button>
      </div>
    </div>
  </dx-data-grid>
</div>