::ng-deep .student--list--wrapper,
::ng-deep .student--list--buttons--wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

::ng-deep .dx-template-wrapper{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

::ng-deep .student--list--avatar--container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

::ng-deep .student--list--avatar {
    width: 90%;
    padding-bottom: 90%;
    border: 3px solid #030360;
    border-radius: 2%;
    background-image: url('../../../../../assets/avatar.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

::ng-deep .dx-button{
    max-width: 100%;
    margin: 4px 0;
}