
::ng-deep .form--avatar--container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

::ng-deep .form--avatar {
    height: 200px;
    width: 200px;
    margin-right: 10px;
    border: 3px solid #030360;
    border-radius: 50%;
    background-image: url('../../../../../assets/avatar.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}