<form (submit)="submitForm($event)">
  <dx-form id="form" [formData]="studentForm" [readOnly]="false" [showValidationSummary]="true"
    validationGroup="studentValidationGroup">
    <dxi-item itemType="group" [colCount]="9">
      <dxi-item itemType="group" cssClass="first-group" [colSpan]="1">
        <dxi-item cssClass="form--avatar--container">
          <div class="form--avatar" [ngStyle]="{ 'background-image': 'url(' + formSettings.avatarUrl + ')'}">
          </div>
        </dxi-item>
      </dxi-item>
      <dxi-item itemType="group" [colSpan]="5">
        <dxi-item dataField="Name">
          <dxi-validation-rule type="required" message="Student name is required">
          </dxi-validation-rule>
          <dxi-validation-rule type="pattern" [pattern]="formRules.namePattern" message="No digits allowed">>
          </dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="Gender" editorType="dxAutocomplete" editorType="dxSelectBox"
          [editorOptions]="{ dataSource: formOptions.gender }">
          <dxi-validation-rule type="required" message="You must specify student's gender">
          </dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="BirthDate" editorType="dxDateBox"
          [editorOptions]="{  width: '100%',  dateOutOfRangeMessage: 'Student must be at least 5 years old',
                    invalidDateMessage: 'The date must have the following format: MM/dd/yyyy', max: formRules.maxDate}">
          <dxi-validation-rule type="required" message="Date of birth is required">
          </dxi-validation-rule>
          <dxi-validation-rule type="range" [min]="formRules.minDate" message="Max age is 90 years">
          </dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="Country" editorType="dxAutocomplete" editorType="dxSelectBox" [editorOptions]="{ dataSource: formOptions.country,
          onValueChanged:  onCountryChange}">
          <dxi-validation-rule type="required" message="Country is required">
          </dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="City" editorType="dxAutocomplete" editorType="dxSelectBox"
          [editorOptions]="{ dataSource: formOptions.city }">
          <dxi-validation-rule type="required" message="City is required">
          </dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="Image">
          <div *dxTemplate>
            <dx-file-uploader name="Image" [multiple]="false" uploadMode="useForm" accept="image/*"
              [(value)]="formFileUploader" (onValueChanged)="showPreviewImage($event)">
            </dx-file-uploader>
          </div>
        </dxi-item>
        <dxi-item itemType="button" horizontalAlignment="center" [buttonOptions]="{
            text: formSettings.isEdit? 'Update': 'Add',
            type: 'success',
            useSubmitBehavior: true
          }">
        </dxi-item>
      </dxi-item>
    </dxi-item>
  </dx-form>
  <dx-load-panel [closeOnOutsideClick]="false" [(visible)]="formSettings.isPosting">
  </dx-load-panel>
</form>